<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/navbar') %>

    <main><%- body %></main>

    
    <%- include('partials/footer') %>
<%- include('partials/scripts') %>

  </body>
</html>
